# e:/WORK/Used_clothing_fe/.env.example
# Backend API Base Endpoint Url
VITE_API_BASE_URL=https://api.usedclothingstore.com/api

# Supabase Storage
VITE_SUPABASE_URL=tbd
VITE_SUPABASE_ANON_KEY=tbd
VITE_SUPABASE_BUCKET=tbd

# App Port (Optional)
PORT=3000
